@media only screen and (min-width: 769px) and (max-width: 1920px) {

  .project1,
  .project2,
  .project3,
  .project4 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #0f172a !important;
    padding: 10px;
  }

  .projectcontent1,
  .projectcontent2,
  .projectcontent3,
  .projectcontent4 {
    position: relative;
    z-index: 1;
    display: flex;
  }

  .overlay1,
  .overlay2,
  .overlay3,
  .overlay4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16326a !important;
    color: #16326a;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
  }

  .project1:hover .overlay1,
  .project2:hover .overlay2,
  .project3:hover .overlay3,
  .project4:hover .overlay4 {
    opacity: 1;
    transition: transform 0.5s ease;
  }

  .logo1,
  .logo2,
  .logo3,
  .logo4 {
    width: 25%;
  }

  .aboutProject {
    width: 75%;
  }

  .skillsList {
    display: flex;
  }

  .skills {
    border: 0 solid #e5e7eb;
    color: #5eead4;
    background-color: rgba(45, 212, 191, .1);
    font-size: medium;
    border-radius: 9999px;
    align-items: center;
    box-sizing: border-box;
    padding: 0.25rem 0.75rem;
    display: flex;
    margin: 5px;
    font-weight: 700;
    line-height: 1.85rem;
    font-family: inherit;
  }

  .clientName {
    font-size: larger;
  }

  .projectDescription {
    font-size: large;
    line-height: 1.5;
    font-family: serif;
  }
}